<h1>Thêm sản phẩm</h1>
<form action="/add" method="post" enctype="multipart/form-data">
    Tên <input type="text" name="name"><br>
    Giá <input type="number" name="price"><br>
    Hình <input type="file" name="imageURL"><br>
    Mô tả: <textarea rows="4" cols="50" name='description'></textarea><br>
    Link xem chi tiết: <input type="text" name="detail"><br>
    <button type="submit">Thêm sản phẩm</button>
</form>